@font-face {
	font-family: "biohazard";
	font-style: normal;
	font-weight: 400;
	src: url("/css/biohazard.ttf");
}

@font-face {
	font-family: "money";
	font-style: normal;
	font-weight: 400;
	src: url("/css/bad_guy_black.ttf");
}